
.green{
    background:rgba(143, 242, 202, 0.8);
}

.red {
    background: rgba(239, 116, 161, 0.8); 
}
.red2 {
    background: rgba(239, 116, 161, 0.8); 
}

.blue {
    background: rgba(86, 201, 248, 0.8);
}

.orange{
    background: rgba(254, 174, 88, 0.8);
}

.white{
    background: white;
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
